/* TODO:
   - Fix page breaks for h1, h2 and ul stay on same page.
*/

/* Override Colors */
$body-bg: rgba(244, 244, 246, 1) !default;
$body-color: rgba(22, 46, 85, 1) !default;
$headings-color: lighten($body-color, 15%) !default;
$link-color: $headings-color !default;
$link-hover-color: darken($link-color, 15%) !default;

$light: rgba($body-bg, 0.95) !default;
$profile-bg: lighten($link-color, 15%) !default;

$graph-light: lighten($link-color, 35%) !default;
$graph-dark: lighten($link-color, 15%) !default;

/* Override Font */
$font-family-base: "Arial", sans-serif;
$headings-font-family: "Arial", sans-serif;

/* Override Font Size */
$font-size-base: 0.8rem !default;
$h1-font-size: $font-size-base * 2 !default;
$h2-font-size: $font-size-base * 1.5 !default;
$h3-font-size: $font-size-base * 1.25 !default;

/* Define colors */
$light-green: rgba(179, 203, 148, 1) !default;
$dark-green: rgba(148, 180, 107, 1) !default;

$light-blue: rgba(152, 194, 210, 1) !default;
$dark-blue: rgba(97, 165, 190, 1) !default;

$light-purple: rgba(158, 145, 180, 1) !default;
$dark-purple: rgba(126, 110, 154, 1) !default;

$light-orange: rgba(220, 181, 155, 1) !default;
$dark-orange: rgba(206, 151, 112, 1) !default;

/* Import Bootstrap */
@import "../node_modules/bootstrap/scss/bootstrap.scss";

@media print {
  @page {
    margin: 5mm;
  }
  body {
    background-color: white;
  }
  .navbar {
    display: none;
  }
  li {
    page-break-inside: avoid;
  }
  h1, h2, h3 {
    page-break-after: avoid;
  }
  #skills {
    page-break-before: always;
  }
}

@media screen {
@page {
    @top-center { 
      content: "";
    }
    @top-left-corner { 
      content: "";
    }
    @top-right-corner { 
      content: "";
    }
    @bottom-left { 
      content: "";
    }
    @bottom-right { 
      content: "Page " counter(page) 
    }
  }
  .navbar {
    border-bottom: 1px solid darken($body-bg, 15%);
  }
  .container {
    .head {
      margin-top: 100px;
    }
  }
}

.container {
  .head {
    column-count: 2;
    column-gap: 40px;
    background-color: $profile-bg;
    opacity: 0.8;
    padding: 5px;
    margin-bottom: 25px;
    img {
      border-radius: 50%;
      border-color: white;
      border-style: solid;
      border-width: 5px;
      height: 150px;
    }
    h1 {
      color: white;
    }
    a, p {
      color: darken(white, 15%);
      margin-left: 0px;
    }
  }

  .doc {
    column-count: 2;
    column-gap: 40px;
    h1, h2 {
      margin-top: 1rem;
    }
    h3, p {
      margin-left: 1rem;
    }
    em {
      color: rgba(100, 100, 200, 1);
    }
    table {
      width: 100%;
    }
  }
  .doc-card {
    width: 100%;
//    display: inline-block;
  }
  .doc-graph {
    width: 100%;
    display: inline-block;
    table {
      width: 100%;
      margin-top: 25px;

      th {
        display: inline-block;
        font-size: $h3-font-size;
      }
      th:first-child {
        color: $graph-light;
      }
      th:nth-child(2) {
        text-align: right;
        color: $graph-dark;
      }

      td {
        font-size: $h2-font-size;
        color: white;
        margin-left: 20px;
      }
      td:before {
        content: " ";
        white-space: pre;
      }
      td:first-child {
        background-color: $graph-light;
      }
      td:nth-child(2) {
        background-color: $graph-dark;
      }
    }

    .mbti-1 > table {
      thead > tr {
        th:first-child {
          width: 37%;
        }
        th:nth-child(2) {
          width: 63%;
        }
      }
    }

    .mbti-2 > table {
      thead > tr {
        th:first-child {
          width: 21%;
        }
        th:nth-child(2) {
          width: 79%;
        }
      }
    }

    .mbti-3 > table {
      thead > tr {
        th:first-child {
          width: 62%;
        }
        th:nth-child(2) {
          width: 38%;
        }
      }
    }

    .mbti-4 > table {
      thead > tr {
        th:first-child {
          width: 42%;
        }
        th:nth-child(2) {
          width: 58%;
        }
      }
    }

  }
}
