/* Override Colors */
$body-bg: rgba(0, 0, 0, 0.8) !default;
$body-color: rgba(255, 255, 255, 0.8) !default;
$headings-color: lighten($body-color, 15%) !default;
$link-color: $headings-color !default;
$link-hover-color: darken($link-color, 15%) !default;
$nav-pills-link-active-bg: lighten($body-bg, 15%) !default;
$card-border-width: 0 !default;

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

/* Import Bootstrap */
@import "../node_modules/bootstrap/scss/bootstrap.scss";

.container {
  .card-img-top {
    border-radius: $card-border-radius;
  }
  .card {
    margin-top: 25px;
  }
  .nav-pills {
    width: 100%;
    justify-content: center;
  }
  .nav-link {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
}

#artisimo {
  font-family: 'Dancing Script', cursive;
  color: rgba(255, 0, 255, 0.6);
}

#pro {
  color: lighten($body-bg, 15%);
}

h4 {
  color: rgba(255, 255, 255, 0.45);
}

.social-apps {
  position: fixed;
  top: 35px;
  z-index: 2;
  right: 15px;
  text-align: center;
  font-size: 1.5em;
} 

